.error-404{
    width: 100%;
    height: 60vh;
    max-width: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
    background-image: url('../../assets/game-covers/error.jpg');
    background-repeat: no-repeat;
background-size: 70vw 60vh;
    background-position: center;
    
}