.game-cover{
  display: block;
  width: 100%;
  object-fit: cover; 
  height: 350px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}